<div class="row mt-4 w-100">
  <div class="col"></div>
  {{!-- Log In column --}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Log In</h3>
        <form class="form login-form">
          <div class="form-floating mb-3">
            <input type="username" class="form-control" id="username-login" placeholder="Username">
            <label for="username-login">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password-login" placeholder="Password">
            <label for="password-login">Password</label>
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div>
    </div>
  </div>
  {{!-- Sign up column --}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Sign Up</h3>
        <form class="form signup-form">
          <div class="form-floating mb-3">
            <input type="name" class="form-control" id="name-signup" placeholder="Name">
            <label for="name-signup">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="username" class="form-control" id="username-signup" placeholder="Username">
            <label for="username-signup">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password-signup" placeholder="Password">
            <label for="password-signup">Password</label>
          </div>
          {{!-- custom styles for horizontal scroll when selecting an avatar --}}
          <style>
              .horizontal-scroll-container {
                  overflow-x: auto;
                  white-space: nowrap;
                  width: 300px;
              }
              .form-check-inline {
                  display: inline-block;
                  margin-right: 1rem;
              }
              /* Style the scrollbar */
              .horizontal-scroll-container::-webkit-scrollbar {
                  width: 0px; 
                  height: 0px; 
              }
              /* Hide the scrollbar */
              .horizontal-scroll-container::-webkit-scrollbar-thumb {
                  background: transparent; 
              }
          </style>
          <div class="card-subtitle mb-2 text-center">Scroll and Select an Avatar!</div>
            <div class="horizontal-scroll-container border rounded-pill p-2 mb-3">
              {{!-- Render each avatar --}}
              {{#each avatars as |avatar|}}
                <div class="form-check form-check-inline m-0 p-0">
                  <input type="radio" class="btn-check"  name="options-base" id="avatar{{avatar.id}}" autocomplete="off" 
                  data-id="{{avatar.id}}" />
                  <label class="btn p-1 rounded-circle" for="avatar{{avatar.id}}">
                    <img src="/images/avatars/svg/{{avatar.image_url}}" alt="{{avatar.name}}" width="70" height="70">
                  </label>
                </div>
              {{/each}}
            </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>





<script src="/js/login.js"></script>